fastapi
langchain
sentence-transformers
faiss-cpu
pydantic
pymupdf
unstructured
python-docx
openai
anthropic
uvicorn
python-multipart
langchain-text-splitters
torch
qdrant-client
sentence-transformers
openai
python-dotenv